
  hr {
    color: #ffffff;
  }

  a:hover {
    color: #00ffff;
  }

  table[attr="qrtab"] {
    width: 80%;
    table-layout: fixed;
  }

  h3[attr="revtitl"] {
    font-style: italic;
  }

  h4[attr="score"] {
    font-style: bold;
  }

  * {
    font-family: Arial;
  }

  #page {
    background-color: #98b1e6;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3366cc;
  }

  .navbar a {
    float: left;
    padding-left: 100px;
    padding-right:100px;
  }

  .navlink {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;

  }

  .navlink:hover {
    background-color: #84a1e1;
  }

  td h4 {
    text-align: center;
  }
