/* general styles*/

  hr {
    color: #ffffff;
  }


/* general styles*/



/* homepage.html styles*/

  .homepage {
    background-color: #98b1e6;
  }

  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3366cc;
  }

  .navbar a {
    float: left;
    padding-left: 150px;
  }

  .navlink {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;

  }

  .navlink:hover {
    background-color: #84a1e1;
  }

/* homepage.html styles*/



/* iridescencereview.html styles*/
/* iridescencereview.html styles*/

/* eitherorreview.html styles*/
/* eitherorreview.html styles*/

/* quickreviews.html styles*/
/* quickreviews.html styles*/
