
/* type selectors*/
  hr {
    color: #ffffff;
  }

  ol {
    color: #000066;
  }

  footer {
    background-color: #bafbff;
    color: blue;
  }
/* type selectors*/


/* pseudo-classes*/
  a:hover {
    color: #00ffff;
  }

  .navlink:hover {
    background-color: #84a1e1;
  }

  a:active {
    position: relative;
    top: 1px;
  }
/* pseudo-classes*/


/* attribute selectors*/
  table[attr="qrtab"] {
    width: 80%;
    table-layout: fixed;
  }

  h3[attr="revtitl"] {
    font-style: italic;
  }

  h4[attr="score"] {
    font-style: bold;
  }
/* attribute selectors*/


/* universal selector*/
  * {
    font-family: Arial;
  }
/* universal selector*/


/* id selectors*/
  #page {
    background-color: #98b1e6;
  }

  #qtab {
    border: 2pt solid white;
  }

  #scoralign {
    text-align: center;
    font-weight; 3;
  }
/* id selectors*/


/* class selectors*/
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3366cc;
  }

  .navlink {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
  }
/* class selectors*/


/* combinators*/
  td h4 {
    text-align: left;
  }

  .navbar a {
    float: left;
    padding-left: 100px;
    padding-right:100px;
  }

  body #qrcontent {
    color: #000066;
  }


/* combinators*/


/* image dimensions*/
  #hpimg {
    width: 400px;
    height: 400px;
  }

  #irdimg {
    width: 300px;
    height: 300px;
  }

  #eoimg {
    width: 300px;
    height: 300px;
  }

  #irimg {
    height: 200px;
    width: 200px;
    border: 5px;
    border-style: solid;
    border-radius: 30px;
    border-color: #000;
    padding: 0.45em;
  }

  #irdimg1 {
    width: 200px;
    height: 200px;
    border: 5px;
    border-style: solid;
    border-radius: 30px;
    border-color: #000066;
    padding: 0.45em;
  }

  #eoimg1 {
    weight: 200px;
    height: 200px;
    border: 5px;
    border-style: solid;
    border-radius: 30px;
    border-color: #4d0000;
    padding: 0.45em;
  }
/* image dimensions*/

  .title {
    text-decoration: underline;
    font-size: 18pt;
    font-weight: 5pt;
  }

  #myscore {
    text-align: center;
    font-weight: bold;
    text-decoration: blue wavy underline;
  }
